version: "3.7"

services:
  api:
    image: aryarajalves/servidor-automatico:1.0.1
    build: .
    hostname: "{{.Service.Name}}.{{.Task.Slot}}"
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

    networks:
      - network_swarm_public
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "1"
          memory: 1024M
      labels:
        - traefik.enable=true
        - traefik.http.routers.api.rule=Host(`servidorautomatico.aryaraj.shop`)
        - traefik.http.routers.api.entrypoints=websecure
        - traefik.http.routers.api.priority=1
        - traefik.http.routers.api.tls.certresolver=letsencryptresolver
        - traefik.http.routers.api.service=api
        - traefik.http.services.api.loadbalancer.server.port=8000
        - traefik.http.services.api.loadbalancer.passHostHeader=true

networks:
  network_swarm_public:
    name: network_swarm_public
    external: true
