name: Docker Build & Push

# Executa quando houver um push na branch main
on:
  push:
    branches: [ "main" ]
    # Se quiser rodar manualmente também, descomente a linha abaixo:
    # workflow_dispatch:

env:
  # Use docker.io para Docker Hub se estiver vazio
  REGISTRY: docker.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: aryarajalves/servidor-automatico

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Configura o Buildx (necessário para buildar multi-arquitetura se precisar, e cache)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Login no Docker Hub usando as credenciais configuradas no GitHub Secrets
      - name: Log into Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extrai metadados (tags, labels) para o Docker
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=1.0.0
            type=sha

      # Build e Push da imagem Docker
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
